.carousel {
  img {
    height: 260px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
  }

  .carousel-indicators {
    button {
      opacity: 0;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0;
    transition: all ease 1;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1199px) {
  .carousel img {
    height: 190px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 991px) {
  .carousel img {
    height: 150px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 767px) {
  .carousel img {
    height: 110px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    height: 105px;
    border-radius: 5px;
  }
}
