.search-block {
  border: 1px solid #d6d6d6;
  color: #c9c9c9;
  border-radius: 5px;
  ::placeholder {
    padding-left: 50px;
    color: rgb(215, 215, 215);
  }
  input {
    border: 0;
    padding: 10px;
    padding-left: 25px;
    outline: none;
  }
  svg {
    padding-top: 10px;
    height: 32px;
    width: 32px;
  }
  .button-close {
    cursor: pointer;
    color: #c9c9c9;
    &:hover {
      color: #808080;
    }
  }
}

@media screen and (max-width: 991px) {
  .search-block {
    margin: 3% 0;
  }
}
